/* Reset some default browser styles */
html, body {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: black;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-align: center;
  
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 50px;
  color:white
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: white;
}
/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Main content styles */
main {
  padding: 20px;
  text-align: center;
}

/*Paragraph style */
p {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  color: gray;
}

/* Footer styles */
footer {
  background-color: #333;
  color: gray;
  padding: 10px;
  text-align: right;
}

p.footer {
  text-align: right;
}

/*Hyperlink styles */
a {
  color: aquamarine;
  font-size: 16px;
}

/* image to respond to device size */
.responsive-image {
  max-width: 100%;
  height: auto;
}


/* Media query for responsive design */
@media (max-width: 768px) {
  /* Add responsive styles here */
}
